.box {
  width: 100%; 
  min-height: 4.5rem;
  padding: 0 var(--gap-s);
  background: var(--gray-500);
  border: 1px solid var(--gray-400, #333);
  border-radius: var(--radius);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex: 1;
 


  /* border: 1px solid #ccc; */
}


.boxtexto {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;

  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;

  /* border:1px solid yellow; */
  
}

@media (max-width: 728px) {
  .box {
    width: 100%;
    min-height: 12.5rem;

    flex: 1;

    /* border: 1px solid blue;  */
  }
}
